<!-- Page Contents -->
<div id="home" class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
          Raouf Chebri
        </h1>
        <h2>Software Developer Engineer | MBA.</h2>
        <!-- <a href = "#about" class="ui huge primary button">Scroll Down <i class="down arrow icon"></i></a> -->
    </div>
  </div>
  
  <!-- BEGIN ::  ABOUT -->
  <div id="about" class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">About</h3>
    </div>
    <about></about>
  </div>
  <!-- END :: ABOUT -->
  <!-- BEGIN :: TECHNICAL SUMMARY -->
  
  <div id="frameworks" class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Frameworks</h3>
    </div>
    <list [elements] = "frameworks"></list>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Code Base & Cloud Services</h3>
    </div>
    <list [elements] = "cloud"></list>
  </div>

  <!-- END :: TECHNICAL SUMMARY -->

  <!-- BEGIN :: EXPERIENCE -->
  <div id="journey" class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Journey</h3>
    </div>
      <timeline></timeline>
  </div>
  <!-- END :: EXPERIENCE -->

  <!-- BEGIN :: BLOG -->
  <div id="blog" class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Blog</h3>
    </div>
      <posts></posts>
  </div>
  <!-- END :: BLOG -->

  <!-- BEGIN :: EDUCATION -->
  <div class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Education & Certifications</h3>
    </div>
    <list [elements] = "education"></list>
  </div>
  <!-- END :: EDUCATION -->

  <!-- BEGIN :: INTERESTS -->
  <div class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Interests</h3>
    </div>
    <list [elements] = "interests"></list>
  </div>
  <!-- END :: INTERESTS -->

  <!-- BEGIN :: CONTACT -->
  <div id="contact" class="ui vertical stripe segment">
    <div class="ui header middle center aligned row">
      <h3 class="ui header">Contact</h3>
    </div>
    <contact></contact>
  </div>
  <!-- END :: CONTACT -->

  <footer></footer>