<div class="ui main container">
  <form class="ui form">
    <div class="field">
      <label>Title</label>
      <input type="text" name="title" placeholder="Post title">
    </div>
    <div class="field">
      <label>Link</label>
      <div class="ui labeled input">
        <div class="ui label">
          https://chebri.com/post/
        </div>
        <input type="text" name="link" disabled placeholder="Link">
      </div>
    </div>
    <div class="field">
      <label>Text</label>
      <ckeditor tagName="textarea" (change)="onChange($event)" [editor]="Editor"></ckeditor>
    </div>
    <a [routerLink]="['/posts']" routerLinkActive="router-link-active"  class="ui button"><i class="cancel icon"></i> Cancel</a>
    <button class="ui button" (click)="onSave()"><i class="save icon"></i> Save</button>
    <button class="ui button"><i class="eye icon"></i> Preview</button>
    <button class="ui blue button"><i class="globe icon"></i> Publish</button>
  </form>
</div>