form {
    padding-block-start: 20%;
    padding-block-end: 20%;
    padding-inline-end: 30%;
    padding-inline-start: 30%;
}

.ui.grid {
    background-image: url('../../../../assets/images/wallpaper.jpg');
    background-size: cover;
    background-position: center center;
}