.ui.main.text.container {
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

img {
    width: 100%
}

p {
    justify-content: start;
}

.ui.placeholder.header {
    margin-bottom: 1em;
}

.square.image {
    margin-top: 20px;
}