<div *ngIf="(post$ | async) as post" class="ui main text container">
  <a [routerLink]="['/posts']" class="ui button"><i class="angle left icon"></i>Back</a>
  <a [routerLink]="['/create-post/1']" class="ui blue button"><i class="edit icon"></i>Edit</a>
  <div class="ui main text container">
    <h1 class="ui header">{{ post.title }}</h1>
    <img src="../../../../assets/images/image.png" alt="">
    <div [innerHTML]="post.body"></div>
  </div>
  <a [routerLink]="['/posts']" class="ui button"><i class="angle left icon"></i>Back</a>
  <app-comment></app-comment>
</div>
<div *ngIf="!(post$ | async)" class="ui main text container placeholder">
  <div class="header">
    <div class="medium line"></div>
    <div class="medium line"></div>
    <div class="medium line"></div>
    <div class="square image"></div>
    <div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>