<div class="ui middle aligned stackable grid container">
  <div class="center aligned row">
    <div class="six wide column">
      <img src="../assets/images/hvaler.jpg" class="ui large bordered rounded image">

      <h3 class="ui header">Who's this guy?</h3>
        <p>Raouf Chebri is a Software Developer Engineer and an MBA with experience in backend and frontend development and a growing interest
          for Machine Learning, Deep Learning and Computer Vision.</p>
    </div>
    <div class="eight wide right floated column">
      <div class="five wide column"  *ngFor="let s of skillSet">
        <app-skill [title]="s.title" [color]="s.color" [value]="s.value" [url]="s.url"></app-skill>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="center aligned column">
    </div>
  </div>
</div>